/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.conteudo {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    overflow: hidden;
}

.pattern-dots{
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2NkYGDwYWBg2MIABYwwBjYBsEoMFQBRTgIFr1ydPQAAAABJRU5ErkJggg==
    );
    background-repeat: repeat;
    opacity: 0.;
}

.p-card-1{
    background-image: url("ImagensCss/pattern1.png");
    background-repeat: repeat;
    background-size: 34px;
    background-attachment: scroll;
}
.p-card-2{
    background-image: url("ImagensCss/pattern2.png");
    background-repeat: repeat;
    background-size: 200px;
    background-attachment: scroll;
}
.titled{
  position: right;
  color: #fff;
  font-weight: 900;
  font-size: 5rem;
}


.text-card{
    margin-top:-1 4px;
    font-family: 'Noto Sans', sans-serif;
    color: #fff; 
    overflow: hidden;
    padding-right: 2%; 
    font-size: 1.1rem;
    font-size: 1.0vm;
}

.big-text-card{
    margin-top: -1 4px;
    font-family: 'Noto Sans', sans-serif;
    color: #fff; 
    overflow: hidden;
    padding-right: 2%;
    font-size: 1.5vw;    
}

centralize{
    position:absolute;
    left: 50%;
    top:50%;
    width: 50%;
    height: 50%;
}


.navbar-brand-me {
    display: block;
    float: left;
    height:50px;
    padding: 6px 15px;
    font-size: 18px;
    line-height: 20px;
}

.card-conteudo {
    border-radius:20px; 
    background-color: #fff; 
    width: 77%; 
    max-width: ;
    height: 100%; 
    position: absolute; 
    top:20%; 
    left: 10%;
    bottom:0%;
    right:10%;
}

.card-item {
    border-radius:20px; 
    background-color: #fff; 
    width: 70%; 
    height: 100%;
    position: relative;
    display: block;
    top: 10%; 
    left: 10%;
    bottom: 10%;
    right:10%;
    padding-bottom: 5%;
}

/*B&W*/
.bw {
  -webkit-transition: all 0.275s ease;
     -moz-transition: all 0.275s ease;
       -o-transition: all 0.275s ease;
      -ms-transition: all 0.275s ease;
          transition: all 0.275s ease;
      -webkit-filter: grayscale(100%);
}
 
.bw:hover {
  -webkit-filter: grayscale(0%);
}

<style>
    .google-maps {
        position: relative;
        padding-bottom: 75%; 
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
</style>